params {
    input = 'samplesheet.csv'
    outdir = 'results'
    reference = 'data/hg38_only_chromsomes.fa'
    num_turns_list = [1, 10, 100, 1000, 10000]
    num_replicates = 10

    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')// Config options
}

process {
    executor = 'slurm'
    publishDir "${params.outdir}/results", mode: 'copy'

    withName: 'SAMTOOLS_FAIDX' {
        container = "${baseDir}/images/methyldackel.sif"
        cpus = 16
        memory = '32GB'
        time = '1h'
        queue = 'cn-long'
    }

    withName: 'SAMTOOLS_MERGE' {
        container = "${baseDir}/images/methyldackel.sif"
        cpus = 32
        memory = '64GB'
        time = '12h'
        queue = 'cn-long'
    }

    withName: 'SAMTOOLS_SORT' {
        container = "${baseDir}/images/methyldackel.sif"
        cpus = 16
        memory = '32GB'
        time = '1h'
        queue = 'cn-long'
    }

    withName: 'METHYLDACKEL_EXTRACT' {
        container = "${baseDir}/images/methyldackel.sif"
        cpus = 32
        memory = '64GB'
        time = '12h'
        queue = 'cn-long'
        ext.args = '-p 10 -q 10 --mergeContext'
    }

    withName: 'METHYLDACKEL_EXTRACT_SIMULATED' {
        container = "${baseDir}/images/methyldackel.sif"
        cpus = 32
        memory = '64GB'
        time = '12h'
        queue = 'cn-long'
        ext.args = '-p 10 -q 10 --mergeContext'
    }

    withName: 'GENERATE_CPG_TABLE' {
        container = "${baseDir}/images/simulate_gen3.sif"
        cpus = 16
        memory = '32GB'
        time = '12h'
        queue = 'cn-long'
    }

    withName: 'SIMULATE_SEQUENCES' {
        container = "${baseDir}/images/simulate_gen3.sif"
        cpus = 8
        memory = '16GB'
        time = '12h'
        queue = 'cn-long'
    }
}

manifest {
    name = 'test_simulate_3gen'
    author = 'vanreality'
    description = 'Test simulate_3gen.py script'
    version = '1.0'
}

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = '--bind /home,/gpfs1,/gpfs3'
    }
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}